<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    body {
      padding: 0;
      margin: 0;
    }

    .warp {
      margin: 0 auto;
      width: 900px;
      text-align: center;
    }

    #header {
      height: 100px;
      background-color: rgb(25, 204, 144);
    }

    #section {
      height: 900px;
      background-color: rgb(13, 187, 129);
    }

    #footer {
      background-color: rgb(3, 63, 43);
      height: 100px;
    }
  </style>
</head>
<body>
  <header id="header" class="warp">#header</header>
  <section id="section" class="warp">#section</section>
  <footer id="footer" class="warp">#footer</footer>
</body>
</html>