<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    body {
      padding: 0;
      margin: 0;
    }

    .wrap {
      width: 1200px;
      margin: 0 auto;
    }

    #left {
      width: 200px;
      height: 500px;
      background-color: #cff;
      float: left;
    }

    #right {
      height: 500px;
      background-color: #fcc;
      margin-left: 200px;
    }

  </style>
</head>
<body>
  <!--浮动流 + 普通流的方式布局，左边固定，右边自适应宽度 -->
  <div class="wrap">
    <aside id="left"></aside>
    <section id="right"></section>
  </div>
</body>
</html>