<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    body {
      padding: 0;
      margin: 0;
    }

    .wrap {
      width: 1200px;
      margin: 0 auto;
    }

    #header {
      height: 80px;
      background: chocolate;
    }

    #main #left {
      width: 200px;
      height: 500px;
      background-color: #cff;
      float: left;
    }

    #main #right {
      height: 500px;
      background-color: #fcc;
      margin-left: 200px;
    }


    #footer {
      height: 80px;
      background: chocolate;
    }

  </style>
</head>

<body>
  <!-- 上中下+左右两栏布局 -->

  <header id="header" class="warp">

  </header>

  <section id="main" class="warp">
    <aside id="left"></aside>
    <section id="right"></section>
  </section>

  <footer id="footer" class="warp">

  </footer>

</body>

</html>