<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style>
    body {
      padding: 0;
      margin: 0;
    }

    .warp {
      height: 800px;
      width: 80%;
      margin: 0 auto;
    }

    #left {
      float: left;
      height: 800px;
      width: 200px;
      background-color: darkorange;
    }

    #right {
      float: right;
      height: 800px;
      width: 200px;
      background-color: darkorange;
    }

    #main {
      width: 100%;
      height: 800px;
      background-color: #fcc;
      margin: 0 200px;
    }
  </style>
</head>
<body>
  <div class="warp">
    <aside id="left">

    </aside>
    <aside id="right">

    </aside>
    <section id="main">

    </section>
  </div>
</body>
</html>